body {
    font-family: Arial;
    background: #f8f8f8;
}

.login {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}